{% extends 'base.html.twig' %}

{% block title %}{{ artillerie.name }}{% endblock %}

{% block monTitre %}
Mon {{ artillerie.name }}
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-4">
        <img src="{{asset('images/armes/' ~ artillerie.name|replace({'é':'e'}) ~ '.png')}}">
    </div>
    <div class="col">
        <div class="row">
            {{ artillerie.name }}
        </div>
         <div class="row">
            {{ artillerie.description }}
        </div> 
         <div class="row">
            {{ artillerie.degat }}
        </div> 
    </div>


</div>



{% endblock %}
